*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 100px;
    background-color: #333;
    padding: 40px 80px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

