*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    cursor: none;
}

.main{
    height: 200%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.894);
}

img{
    position: fixed;
    height: 50px;
    transform: translate(-50%, -50%);
}