*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

/* Page */
body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #141622, #0a0b12 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
}

/* Title */
.title {
  color: #fff;
  font-size: 32px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgba(180,180,255,0.5);
}

/* Piano Container */
.piano {
  position: relative;
  display: flex;
  padding: 30px;
  gap: 8px;
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(15px);
  border-radius: 22px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

/* White Keys */
.key.white {
  width: 80px;
  height: 260px;
  background: linear-gradient(#fff, #e5e5e5);
  border-radius: 10px;
  border-bottom: 6px solid #bbb;
  box-shadow: inset 0 -4px 10px rgba(0,0,0,0.4), 0 0 12px rgba(255,255,255,0.1);
  cursor: pointer;
  transition: 0.18s ease;
  position: relative;
}

.key.white:hover {
  transform: translateY(4px);
  box-shadow: 0 0 25px rgba(255,255,255,0.6);
}

.key.white.active {
  transform: translateY(5px);
  background: #f0f0f0;
  border-bottom: 3px solid #999;
}

/* Black Keys */
.key.black {
    color: white;
  width: 55px;
  height: 170px;
  background: linear-gradient(#222, #000);
  border-radius: 8px;
  position: absolute;
  top: -5px;
  z-index: 10;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 8px 22px rgba(0,0,0,0.7);
}

.key.black:hover {
  box-shadow: 0 0 25px rgba(150,150,255,0.8);
}

.key.black.active {
  transform: translateY(6px);
  background: #111;
}

/* Positioning black keys */
.pos1 { left: 55px; }
.pos2 { left: 135px; }
.pos4 { left: 295px; }
.pos5 { left: 375px; }
.pos6 { left: 455px; }
