*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.931);
}

.card{
    background-color: rgb(129, 188, 240);
    height: 300px;
    width: 500px;
    border-radius: 5px;
    padding: 30px;
    
}

p{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-family: monospace;
}
.card span{
    color: rgb(0, 0, 0);
}

.outer{
    width: 100%;
    height: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 20px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
    outline: none;
    border: none;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

button{
    outline: none;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

.card h3{
    color: white;
    font-size: 40px;
    font-family: monospace;
}