*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.839);
}

h1{
    background-color: blueviolet;
    padding: 60px 100px;
    font-size: 50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: aliceblue;
}

p{
    background-color: rgb(188, 150, 225);
    padding: 20px 40px;
    font-size:20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
}


button{
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: crimson;
}

button:active{
    transform: scale(0.95);
}