*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.906);
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: blueviolet;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    z-index: 9;
}

button:active{
    transform: scale(0.95);
}