*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

main{
    width: 100%;
    height: 100%;
    padding: 20px;
    
}

section{
    height: 100%;
    width: 350px;
    /* background-color: rgb(152, 0, 0); */
    border-radius: 10px;
    margin: auto;
    
    
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.all-reels{
    overflow: auto;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    
}

.reel{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bottom{
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.bottom .user{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}

.user img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    object-fit: cover;
}
.user h4{
    color: white;
    font-size: 17px;
}
.user button{
    padding: 1px 5px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

.reel h3{
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.right{
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    gap: 10px;
    position: absolute;
    color: white;
    right: 0;
    bottom: 80px;
    
}

.right i{
    font-weight: 500;
}

.right .like .filled{
    color: rgb(214, 0, 71);
}