*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.839);
}

.box{
    height: 400px;
    width: 400px;
    background-color: teal;
    border: 5px solid black;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(223, 90, 232);
}

button:active{
    transform: scale(0.95);
}