*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.899);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 300px;
    /* height: 400px; */
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
}

.card div{
    position: relative;
    overflow: hidden;
}

.image img{
    overflow: hidden;
    width: 180px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.card h2{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
}

.card i{
    background-image: url("https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg");
    background-size: cover;

    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;

    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0; */
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.83,1.73,.55,1.01) 0.3s;

}